{
  "plugins": [
    ["relay",
      {
        "compat": true,
        "schema": "./data/schema.graphql",
        "enforceSchema": true,
        "suppressWarnings": false,
        "debug": false,
      },
    ],
  ]
}
