{
  "plugins": [
    ["relay",
    {
      "compat": true,
      "schema": "./data/schema.graphql",
      "enforceSchema": true,
      "suppressWarnings": false,
      "debug": false,
    }
    ],
    [
      "babel-plugin-root-import",
      {
       " rootPathSuffix": "src",
      },
    ],
  ],
  "presets": ["module:metro-react-native-babel-preset"],
}
